In [9]:
import bd
import random as r

In [10]:
mydb = bd.bd_connector()
mycursor = mydb.cursor()

In [11]:
mycursor.execute("select count(*) from alunos")
alunos = mycursor.fetchall()
alunos = int(alunos[0][0])
alunos

160

In [14]:
ano = 2010
dia = 1
for m in range(alunos):

    if m % 15 == 0:
        ano += 1
        dia = 1

    diadata = r.choice([dia, dia+1])

    if diadata > dia:
        somador = r.randint(1,3)
        dia += somador

    data = f"{ano}-{11}-{diadata}"

    mycursor.execute(f"""insert into matricula
    values (null, {m+1}, {r.randint(1,7)}, '{data}');""")
    mydb.commit()

    print(f"values (null, {m+1}, {r.randint(1,7)}, '{data}');")

values (null, 1, 4, '2011-11-2');
values (null, 2, 5, '2011-11-5');
values (null, 3, 5, '2011-11-6');
values (null, 4, 4, '2011-11-7');
values (null, 5, 3, '2011-11-8');
values (null, 6, 6, '2011-11-8');
values (null, 7, 2, '2011-11-9');
values (null, 8, 7, '2011-11-11');
values (null, 9, 3, '2011-11-14');
values (null, 10, 1, '2011-11-15');
values (null, 11, 4, '2011-11-16');
values (null, 12, 6, '2011-11-16');
values (null, 13, 3, '2011-11-16');
values (null, 14, 4, '2011-11-17');
values (null, 15, 6, '2011-11-20');
values (null, 16, 6, '2012-11-2');
values (null, 17, 5, '2012-11-5');
values (null, 18, 3, '2012-11-6');
values (null, 19, 4, '2012-11-7');
values (null, 20, 3, '2012-11-7');
values (null, 21, 3, '2012-11-8');
values (null, 22, 4, '2012-11-8');
values (null, 23, 1, '2012-11-9');
values (null, 24, 2, '2012-11-10');
values (null, 25, 1, '2012-11-12');
values (null, 26, 4, '2012-11-15');
values (null, 27, 3, '2012-11-15');
values (null, 28, 3, '2012-11-15');
values (null, 29, 1, '2012-11-15');
values (null, 30, 5, '2012-11-15');
values (null, 31, 3, '2013-11-1');
values (null, 32, 5, '2013-11-1');
values (null, 33, 2, '2013-11-1');
values (null, 34, 7, '2013-11-2');
values (null, 35, 3, '2013-11-5');
values (null, 36, 1, '2013-11-8');
values (null, 37, 6, '2013-11-9');
values (null, 38, 5, '2013-11-10');
values (null, 39, 1, '2013-11-12');
values (null, 40, 3, '2013-11-13');
values (null, 41, 5, '2013-11-14');
values (null, 42, 3, '2013-11-16');
values (null, 43, 7, '2013-11-18');
values (null, 44, 7, '2013-11-19');
values (null, 45, 6, '2013-11-19');
values (null, 46, 1, '2014-11-2');
values (null, 47, 6, '2014-11-4');
values (null, 48, 1, '2014-11-5');
values (null, 49, 6, '2014-11-6');
values (null, 50, 7, '2014-11-7');
values (null, 51, 6, '2014-11-10');
values (null, 52, 3, '2014-11-12');
values (null, 53, 7, '2014-11-13');
values (null, 54, 4, '2014-11-13');
values (null, 55, 3, '2014-11-14');
values (null, 56, 2, '2014-11-15');
values (null, 57, 3, '2014-11-15');
values (null, 58, 5, '2014-11-16');
values (null, 59, 3, '2014-11-18');
values (null, 60, 3, '2014-11-19');
values (null, 61, 6, '2015-11-2');
values (null, 62, 5, '2015-11-5');
values (null, 63, 7, '2015-11-6');
values (null, 64, 7, '2015-11-7');
values (null, 65, 6, '2015-11-9');
values (null, 66, 3, '2015-11-10');
values (null, 67, 1, '2015-11-10');
values (null, 68, 5, '2015-11-11');
values (null, 69, 3, '2015-11-13');
values (null, 70, 1, '2015-11-15');
values (null, 71, 5, '2015-11-17');
values (null, 72, 5, '2015-11-19');
values (null, 73, 1, '2015-11-21');
values (null, 74, 7, '2015-11-23');
values (null, 75, 3, '2015-11-25');
values (null, 76, 6, '2016-11-1');
values (null, 77, 1, '2016-11-2');
values (null, 78, 4, '2016-11-4');
values (null, 79, 7, '2016-11-5');
values (null, 80, 1, '2016-11-6');
values (null, 81, 6, '2016-11-6');
values (null, 82, 5, '2016-11-6');
values (null, 83, 4, '2016-11-6');
values (null, 84, 2, '2016-11-7');
values (null, 85, 3, '2016-11-9');
values (null, 86, 6, '2016-11-12');
values (null, 87, 5, '2016-11-12');
values (null, 88, 4, '2016-11-13');
values (null, 89, 2, '2016-11-16');
values (null, 90, 7, '2016-11-18');
values (null, 91, 3, '2017-11-2');
values (null, 92, 2, '2017-11-2');
values (null, 93, 5, '2017-11-3');
values (null, 94, 5, '2017-11-5');
values (null, 95, 2, '2017-11-6');
values (null, 96, 7, '2017-11-7');
values (null, 97, 3, '2017-11-8');
values (null, 98, 5, '2017-11-8');
values (null, 99, 3, '2017-11-9');
values (null, 100, 3, '2017-11-11');
values (null, 101, 7, '2017-11-12');
values (null, 102, 2, '2017-11-13');
values (null, 103, 7, '2017-11-13');
values (null, 104, 3, '2017-11-14');
values (null, 105, 6, '2017-11-15');
values (null, 106, 6, '2018-11-1');
values (null, 107, 7, '2018-11-2');
values (null, 108, 3, '2018-11-4');
values (null, 109, 2, '2018-11-5');
values (null, 110, 7, '2018-11-8');
values (null, 111, 3, '2018-11-9');
values (null, 112, 2, '2018-11-11');
values (null, 113, 2, '2018-11-12');
values (null, 114, 1, '2018-11-14');
values (null, 115, 6, '2018-11-14');
values (null, 116, 2, '2018-11-15');
values (null, 117, 4, '2018-11-15');
values (null, 118, 2, '2018-11-15');
values (null, 119, 7, '2018-11-16');
values (null, 120, 6, '2018-11-16');
values (null, 121, 5, '2019-11-2');
values (null, 122, 5, '2019-11-5');
values (null, 123, 5, '2019-11-6');
values (null, 124, 7, '2019-11-6');
values (null, 125, 6, '2019-11-6');
values (null, 126, 6, '2019-11-7');
values (null, 127, 3, '2019-11-7');
values (null, 128, 4, '2019-11-8');
values (null, 129, 5, '2019-11-9');
values (null, 130, 3, '2019-11-12');
values (null, 131, 4, '2019-11-13');
values (null, 132, 4, '2019-11-13');
values (null, 133, 5, '2019-11-13');
values (null, 134, 4, '2019-11-14');
values (null, 135, 1, '2019-11-17');
values (null, 136, 2, '2020-11-2');
values (null, 137, 7, '2020-11-2');
values (null, 138, 3, '2020-11-3');
values (null, 139, 1, '2020-11-6');
values (null, 140, 1, '2020-11-9');
values (null, 141, 7, '2020-11-11');
values (null, 142, 1, '2020-11-11');
values (null, 143, 2, '2020-11-12');
values (null, 144, 3, '2020-11-13');
values (null, 145, 3, '2020-11-14');
values (null, 146, 5, '2020-11-15');
values (null, 147, 5, '2020-11-17');
values (null, 148, 4, '2020-11-19');
values (null, 149, 2, '2020-11-20');
values (null, 150, 7, '2020-11-21');
values (null, 151, 6, '2021-11-1');
values (null, 152, 4, '2021-11-1');
values (null, 153, 3, '2021-11-1');
values (null, 154, 6, '2021-11-1');
values (null, 155, 6, '2021-11-1');
values (null, 156, 6, '2021-11-2');
values (null, 157, 1, '2021-11-5');
values (null, 158, 6, '2021-11-7');
values (null, 159, 4, '2021-11-10');
values (null, 160, 1, '2021-11-12');